@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

//Globales      

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(../Assets/Imagenes/slider-1.png);
    height: 768px;
    //height: 100vh;
    width: 100vw;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: rgb(216, 216, 216);
    
}

img{
    width: 70%;
    height: auto;
}

.cuadrado{
    top: 912px;
left: 0px;
width: 32px;
height: 384px;
background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
background: #E0752F 0% 0% no-repeat padding-box;
opacity: 1;
}
    
.tipo-servicios, .cuadrado2{
    background-image: url(../Assets/Imagenes/section3-image.png);
    justify-content: right;
    top: 1800px;
left: 695px;
width: 471px;
height: 304px;
background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
background: #E0752F 0% 0% no-repeat padding-box;
opacity: 1;
}

.acordeon{
    $accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;
$accordion-color:                         $body-color;
$accordion-bg:                            $body-bg;
$accordion-border-width:                  $border-width;
$accordion-border-color:                  rgba($black, .125);
$accordion-border-radius:                 $border-radius;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $accordion-color;
$accordion-button-bg:                     $accordion-bg;
$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              tint-color($component-active-bg, 90%);
$accordion-button-active-color:           shade-color($primary, 10%);

$accordion-button-focus-border-color:     $input-focus-border-color;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

$accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-button-color;
$accordion-icon-active-color:             $accordion-button-active-color;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin: auto;
}

.titulo-servicios, .presentacion{
    margin-bottom: 10%;
}

.Contact{
    background-image: url(../Assets/Imagenes/contact-image@2x.png);
    height: auto;
    max-width: 100%;
    
}

//Variables

$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;
$font-h4: 4.0rem;
$font-h5: 3.0rem;

p{
    font-size: $font-p;
    color: rgb(134, 132, 132)
}

h1{
    font-size: $font-h1;
    color: gainsboro;
}

h2{
    font-size: $font-h2;
}

h3{
    font-size: $font-h3;
    font-weight: lighter;
    color: white;
}

h4{
    font-size: $font-h4;
    color: black;
    text-align: center;
}

h5{
    font-size: $font-h5;
    color: rgb(0, 253, 156);
    text-align: justify;
}

.btn{
    border: none;
    border-radius: 2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-principal{
    @extend .btn;
    color: #fff;
    background-color: darkorange;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    
}

.btn-mandar{
    @extend .btn;
    color: white;
    background-color: orange;
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}

//Mixins

@mixin  caja-flex($principal, $cruzado, $wrap) {
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}