@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

//Globales      

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(../Assets/Imagenes/slider-1.png);
    background-size: auto;
    background-position: initial;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: rgb(216, 216, 216);
    
}

img{
    width: 70%;
    height: auto;
    
}


nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin: auto;
}

.titulo-servicios, .presentacion{
    margin-bottom: 10%;
}

.Contact{
    background-image: url(../Assets/Imagenes/contact-image.png);
    text-align: justify;
    text-size-adjust: 4.0rem;
}

//Variables

$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;
$font-h4: 4.0rem;
$font-h5: 3.0rem;

p{
    font-size: $font-p;
    color: rgb(134, 132, 132)
}

h1{
    font-size: $font-h1;
    color: gainsboro;
}

h2{
    font-size: $font-h2;
}

h3{
    font-size: $font-h3;
    font-weight: lighter;
}

h4{
    font-size: $font-h4;
    color: black;
}

h5{
    font-size: $font-h5;
    color: rgb(134, 6, 6);
}

.btn{
    border: none;
    border-radius: 2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-principal{
    @extend .btn;
    color: #fff;
    background-color: darkorange;
}

//Mixins

@mixin  caja-flex($principal, $cruzado, $wrap) {
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}